*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
build_*.txt
*_status.txt
*_status_full.txt
all_status.txt
full_build_log.txt
build_luxury.txt
build_output.txt
build_result.txt
.kotlin/
